[program:{{webuser}}]
directory = {{dir}}
user = {{webuser}}
command = {{dir}}server.sh
stdout_logfile = {{logdir}}app.log
stderr_logfile = {{logdir}}app.log


[program:{{webuser}}_smtpd]
directory = {{dir}}
user = {{webuser}}
command = {{py}} manage.py smtpd
stdout_logfile = {{logdir}}smtpd.log
stderr_logfile = {{logdir}}smtpd.log