{% extends "base.html" %}
{% load i18n leaflet_tags %}

{% block title %}
    {% trans "Turtle Observation" %} #{{ view.ob.id }} &gt; {% trans "Add Photo" %}
{% endblock %}

{% block header %}
    {% trans "Turtle Observation" %} #{{ view.ob.id }} &gt; {% trans "Add Photo" %}
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-block">{% trans "Upload" %}</button>
    </form>

{% endblock %}
